/* Custom, iPhone Retina */

@media (min-width: $screen-xsm) {
  body {
    font-size: $font-size-small;
  }

  .container {
    width: 100%;
  }

  h3 {
    font-size: $font-size-small;
  }

  .nav-list {
    &__item {
      display: none;
    }
  }

  .nav-item--icon {
    display: inline-block;
  }
}

/* Extra Small Devices, Phones */
@media (min-width: $screen-xs) {
  body {
    font-size: $font-size-small;
  }

  .container {
    width: 100%;
  }

  h3 {
    font-size: $font-size-base;
  }

  nav {
    li {
      display: none;
    }

    li.menu-icon {
      display: inline-block;
    }
  }
}

/* Small Devices, Tablets */
@media (min-width: $screen-sm) {
  body {
    font-size: $font-size-base;
  }

  .container {
    width: 750px;
  }

  h3 {
    font-size: $font-size-large;
  }

  nav {
    li {
      display: inline-block;
    }

    li.menu-icon {
      display: none;
    }
  }
}

/* Medium Devices, Desktops */
@media (min-width: $screen-md) {
  body {
    font-size: $font-size-base;
  }

  .container {
    width: 970px;
  }

  h3 {
    font-size: $font-size-large;
  }

  nav {
    li {
      display: inline-block;
    }

    li.menu-icon {
      display: none;
    }
  }
}

/* Large Devices, Wide Screens */
@media (min-width: $screen-lg) {
  body {
    font-size: $font-size-large;
  }

  .container {
    width: 1170px;
  }

  h3 {
    font-size: $font-size-large;
  }

  nav {
    li {
      display: inline-block;
    }

    li.menu-icon {
      display: none;
    }
  }
}

