.home {
  align-items: center;

  &--full-height {
    height: 100vh;
  }
}

.home-header {
  &__title {
    color: $color-white;
  }
}

.home-content {
  position: relative;
  top: 20px;
  
  &__link {
    margin: 0 10px;
  }
}

.theme--grey {
  background-color: $color-grey;
  color: $color-offwhite;
}
