.theme--white {
  background-color: $color-white;
}

.nav {
  width: 100%;
  height: $header_height_default;
  padding: 5px 0;

  &--fixed-top {
    position: fixed;
    z-index: 1000;
  }
}

.nav-header {
  padding: 10px 15px;

  &__brand {
    color: $color-black;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
  
  &__mark {
    color: $color-red;
    background-color: transparent;
  }
}

.nav-grid {
  height: 40px;

  &--center {
    justify-content: space-between;
    align-items: center;
  }
}

.nav-list {
  flex-flow: row wrap;
  margin: auto;

  &__item {
    display: block;
    height: 100%;
    padding: 5px 20px;

    @media screen and (min-width: $screen-xsm) {
      display: none;
    }
    
    @media screen and (min-width: $screen-xs) {
      display: none;
    }

    @media screen and (min-width: $screen-sm) {
      display: inline-block;
    }

    &:nth-last-child(1) {
      a:hover {
        border-bottom: none;
      }
    }
  }
  
  &__link {
    display: block;
    height: auto;

    &:hover {
      color: #000;
      border-bottom: 2px solid $color-red;
    }
  }
}

.nav-item {
  &--border {
    border: 1px solid $color-red;
    @include border-radius($border-radius-nav);
  }

  &--icon {
    @media screen and (min-width: $screen-xsm) {
      display: inline-block;
    }

    @media screen and (min-width: $screen-xs) {
      display: inline-block;
    }

    @media screen and (min-width: $screen-sm) {
      display: none;
    }
  }
}

.nav-link {
  &--grey {
    color: $color-grey;
  }
}
