.theme--light-green {
  background-color: $color-bg-pricing;
}

.price-container {
  justify-content: space-between;

  @media screen and (min-width: $screen-xs) {
    flex-wrap: wrap;
  }
}

.price-grid-container {
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
  justify-content: space-between;
}

.price-box {
  background-color: $color-white;
 
  @include border-radius($border-radius-box);
  @include box-shadow(0 0 20px -10px $color-offblack);

  @media screen and (min-width: $screen-xs) {
    margin-bottom: 20px;
    margin-right: 0px;
  }

  @media screen and (min-width: $screen-sm) {
    width: 49%;
  }

  @media screen and (min-width: $screen-md) {
    flex: 0 1 24%;
  }

  &__type {
    height: 100%;
  }

  &__month {
    line-height: 80px;
    text-align: center;
  }

  &__content {
    min-height: 150px;
  }

  &__btn {
    position: relative;
    bottom: 0;
  }

  &__amount {
    font-size: 80px;
    position: relative;
    top:25px;
    line-height: 40px;
  }

  &__currency {
    font-size: 36px;
  }

  &__name {
    margin: 0;
  }
}
