.theme--light-green {
  background-color: $color-bg-pricing;
}

.price-header {
  min-height: 42px;
}

.price-container {
  justify-content: space-between;
}

.price-box {
  background-color: $color-white;
  @include border-radius($border-radius-box);
  @include box-shadow(0 0 20px -10px $color-offblack);

  width: 23.33%;
  margin-right: 10px;

  &:last-child {
    margin: 0;
  }
}

.price-grid-container {
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
}

.price-month {
  max-height: 150px;

  &__amount {
    font-size: 80px;
    position: relative;
    top:25px;
    line-height: 40px;
  }

  &__currency {
    font-size: 36px;
  }

  &__name {
    position: relative;
    top: 25px;
  }
}

.price-type {
  max-height: 60px;

  &__name {
    margin: 0;
  }
}

.price-content {
  min-height: 150px;
}

.price-box {
  &__btn {
    position: relative;
    bottom: 0;
  }
}
