.service-grid-container {
  flex-flow: column;
  flex-wrap: wrap;
  
  @media screen and (min-width: $screen-xs) {
    flex-direction: row;
  }
}

.service-box {
  text-align: left;
  justify-content: space-between;
  flex-grow: 1;
}

.service-content__name {
  margin-top: 0;
}