.service-grid-container {
  flex-flow: column;
  flex-wrap: wrap;
  
  @media screen and (min-width: $screen-xs) {
    flex-direction: row;
  }
}

.service-box {
  text-align: left;
  justify-content: space-between;
  flex-grow: 1;

  @media screen and (min-width: $screen-sm) {
    flex: 0 1 50%;
  }

  &--full-width {
    @media screen and (min-width: $screen-sm) {
      flex: 0 1 100%;
    }

    @media screen and (min-width: $screen-md) {
      flex: 0 1 50%;
    }
  }
}

.service-content__name {
  margin-top: 0;
}