.team-grid-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-box {
  margin-top: 100px;
  padding: 0 10px;
  margin-right: 20px;
  background: $color-white;

  @include border-radius($border-radius-box);
  @include box-shadow(0 0 20px -10px $color-offblack);

  @media screen and (min-width: $screen-xsm) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  @media screen and (min-width: $screen-sm) {
    -webkit-flex: 0 1 49%;
    -moz-flex: 0 1 49%;
    -ms-flex: 0 1 49%;
    -o-flex: 0 1 49%;
    flex: 0 1 49%;
    
    &:last-child {
      flex-basis: 100%;
    }
  }

  @media screen and (min-width: $screen-md) {
    flex: 0 1 32.7%;

    &:last-child {
      flex-basis: 32%;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &__thubnail {
    width: 150px;
    top: -75px;
    margin: 0 auto;
    position: relative;
    @include border-radius(50%);
    @include box-shadow(0 0 0 15px $color-bg-pricing);
  }

  &__name {
    margin-top: 0;
  }

  &__title {
    position: relative;
    top: -10px;
  }

  &__contact {
    height: 40px;
    position: relative;
    bottom: 0;
  }

  &__desc {
    min-height: 100px;
    padding: 0 10px;
  }
}